.name_container{
    width: 200px;
    height: 50px;
    background-color: teal;
    left: 6.3%;
    position: fixed;
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically*/
    align-items: center;        /* center items horizontally*/
}
.name_container p{
    color: white;
    font-family: 'Abril Fatface', cursive;
}

.links{
    float: right;
    width: 270px;
    list-style-type: none;
    margin: 0;
    padding:0;
    position: relative;
    top: 30px;
}
li{
    display:inline;
}

.main_box{
    background-color: lightgray;
    width: 99%;
    height: 660px;
    margin: 5px;
    position: relative;
    top: 35px;
}
#about_Me{
    background-color: white;
    width: 650px;
    height: 80%;
    position:relative;
    left: 6.3%;
    top: 40px;
    margin-right: 40px;
    float:left;
    padding: 5px 5px 5px 5px;
}
#about_Me h1{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: teal;
}
.horizontalLine {
    border-bottom: thick solid lightslategray;
  }
  #about_Me img{
    width: 180px;
    height: 150px;
    float: left;
    margin: 5px 5px 5px 5px;
}
  #about_Me p{
    font-size: 25px;
}

#contact_box{
    background-color: white;
    width: 270px;
    height: 25%;
    float: right;
    position: fixed;
    top: 100px;
    right: 50px;
    font-family: 'Abril Fatface', cursive;
    color:teal;
    padding: 5px 5px 5px 5px;
}
#contact_box ul{
    top:10px;
    bottom:0;
}
#contact_box img{
    width: 50px;
    height: 50px;
    padding: 100px 10px 0px 20px;
}

footer{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically*/
    align-items: center;        /* center items horizontally*/
    background-color: darkslategrey;
    width: 99%;
    height: 10%;    
    margin: 5px;
    position: fixed;
    bottom: 2px;
    color: white;
}
.clearFloat{
    clear: both;
}